<a href="https://colab.research.google.com/github/01fe21bec205/Python_for_ML/blob/main/1_Variable_Declaration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ***BASIC FIRST PROGRAM***

In [ ]:
print ("i am safa")

i am safa

## ***ASSIGNMENT***

In [ ]:
a=9
b=3
diff=a-b
print(diff)
c=1
diff1=a-b-c
print(diff1)

6
5

In [ ]:
a=5
p=a*a
print(p)
b=10
p1=a*b
print(p1)

25
50

In [ ]:
a=40
b=6
q=a/b
print(q)

6.666666666666667

In [ ]:
import math
a=81
print(math.sqrt(a))

9.0

## ***DATA TYPES***

In [ ]:
name="safa"
print(type(name))
name1="safa 2309"
print(type(name1))

<class 'str'>
<class 'str'>

In [ ]:
num1=88
num2=78.0098
num3=4j
num4= -998
print(type(num1))
print(type(num2))
print(type(num3))
print(type(num4))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'int'>

## ***SEQUENCE DATA TYPES***

### **LIST**

In [ ]:
lis=['safa', '23', '22.99']
print(type(lis))
print(lis)

<class 'list'>
['safa', '23', '22.99']

In [ ]:
lis2=['happy','sad','scared','tired']
print(len(lis))
print(len(lis2))
lis3=lis+lis2
print(lis3)
print(len(lis3))

3
4
['safa', '23', '22.99', 'happy', 'sad', 'scared', 'tired']
7

In [ ]:
lis2.append("anxious")
lis2

['happy', 'sad', 'scared', 'tired', 'anxious']

In [ ]:
lis2.clear()
lis2

[]

In [ ]:
lis4=['ww','ee','ss','dd']
lis4.sort()
lis4

['dd', 'ee', 'ss', 'ww']

In [ ]:
lis4[0]

'dd'

In [ ]:
lis3[2]

'22.99'

In [ ]:
lis6=['safa','23']
lis6.sort()
lis6

['23', 'safa']

### **TUPLE**

In [ ]:
tuple1=("hello","hi","go") #store char
print(type(tuple1))
tuple1
tuple2=("goa",) #store char
print(type(tuple2))
tuple3=(1,2,3,4,5)
print(type(tuple3)) #store numbers
tuple4=("thai","chinese","12",1,4,544,True) #store multidatatypes
print(type(tuple4))
tuple5=tuple((1,2,3,4,5,6,7,8,9))
print(type(tuple5))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
tuple1=("hello","hi","go")
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])
print(tuple1[-1])
tuple6=tuple3+tuple1
print(tuple6)
tuple7=tuple6*2
print(tuple7)
y=tuple7.index("hello")
a=tuple6.index("hello")
print(y)
print(a)
x=tuple7.count("hi")
b=tuple6.count("go")
print(b)
print(x)

hello
hi
go
go
(1, 2, 3, 4, 5, 'hello', 'hi', 'go')
(1, 2, 3, 4, 5, 'hello', 'hi', 'go', 1, 2, 3, 4, 5, 'hello', 'hi', 'go')
5
5
1
2

In [ ]:
r=("yes","no","idk")
print(type(r))
u=list(r)
#u[1]="never"
u.append("remain")
r=tuple(u)
print(u)

<class 'tuple'>
['yes', 'no', 'idk', 'remain']

### **SETS**

In [ ]:
set1={"rose","orchid","jasmin","tulip"}
print(set1)
set1.add("lotus")
print(set1)
set2={"vase","bowl","grass","utensil"}
set2.update(set1) #set1.update(set2)
print(set2)

{'orchid', 'rose', 'tulip', 'jasmin'}
{'orchid', 'tulip', 'jasmin', 'lotus', 'rose'}
{'bowl', 'vase', 'utensil', 'orchid', 'tulip', 'grass', 'jasmin', 'lotus', 'rose'}

### **DICTIONARY**

In [ ]:
dict1={"First Name": "Safa",
       "Last Name": "Sayyad",
       "Age":"20",
       "Gender": "Female"}
print(type(dict1))
print(dict1)

<class 'dict'>
{'First Name': 'Safa', 'Last Name': 'Sayyad', 'Age': '20', 'Gender': 'Female'}

In [ ]:
dict2=dict(course="ML", branch="ECE")
print(type(dict2))
print(dict2)

<class 'dict'>
{'course': 'ML', 'branch': 'ECE'}