<a href="https://colab.research.google.com/github/01fe21bec205/Python_for_ML/blob/main/8_Class_evaluation_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#palindrome
def ispalindrome():
  return string1==string1[::-1]

string1="malayalam"
string2=ispalindrome()
if(string2):
  print("palindrome")
else:
  print("not a palindrome")

palindrome

In [ ]:
#prime
val=int(input("enter a num = "))
flag=0
if(((val%val)==0) and ((val%1)==0) and (((val%2)==0) or ((val%3)==0) or (val%5)==0)):
  flag=1
  if(val%3==0):
    print("divisible by 3")
  elif(val%7==0):
    print("divisible by 7")
  elif(val%9==0):
    print("divisible by 9")
  elif(val%11==0):
    print("divisible by 11")
  else:
    print("divisible by other number")
else:
  flag=0

if(flag==1):
  print("not a prime")
else:
  print("prime")

enter a num = 29
prime

In [ ]:
evenlist = []
oddlist = []
list1 = []

for i in range(10):
    num = int(input("Enter num = ".format(i + 1)))

    if num % 2 == 0:
        evenlist.append(num)
    else:
        oddlist.append(num)
    list1.append(num)

print("Original list:", list1)
print("Even list:", evenlist)
print("Odd list:", oddlist)

Enter num 1 = 2
Enter num 2 = 3
Enter num 3 = 4
Enter num 4 = 5
Enter num 5 = 6
Enter num 6 = 7
Enter num 7 = 8
Enter num 8 = 9
Enter num 9 = 11
Enter num 10 = 20
Original list: [2, 3, 4, 5, 6, 7, 8, 9, 11, 20]
Even list: [2, 4, 6, 8, 20]
Odd list: [3, 5, 7, 9, 11]

In [ ]:
num_rows = int(input("Enter the no. of rows: "))

for i in range(1, num_rows + 1):
  if(num_rows==4):
     print("*" * i)

Enter the no. of rows: 4
*
**
***
****